$btn-1-bg: #EC2830;
$btn-1-bg-hover: #FFFFFF;
$btn-1-color: #FFFFFF;
$btn-1-color-hover: #EC2830;
$btn-1-border: #FFFFFF;
$btn-1-border-hover: #EC2830;

$btn-2-bg: #FFFFFF;
$btn-2-bg-hover: #EC2830;
$btn-2-color: #000000;
$btn-2-color-hover: #FFFFFF;
$btn-2-border: #000000;
$btn-2-border-hover: #EC2830;

$btn-fos-bg: #EC2830;
$btn-fos-bg-hover: #FFFFFF;
$btn-fos-bg-ok: #0FB551;
$btn-fos-color: #FFFFFF;
$btn-fos-color-hover: #EC2830;
$btn-fos-color-ok: #FFFFFF;
$btn-fos-border: #EC2830;
$btn-fos-border-hover: #EC2830;
$btn-fos-border-ok: #0FB551;

$head-bg:rgba(0, 0, 0, 0.3);
$head-logo-color-w: #FFFFFF;
$head-logo-color-b: #000000;
$head-menu-color: #FFFFFF;

$banner-title-color: #FFFFFF;
$banner-description-color: #FFFFFF;
$banner-fos-input-bg: #FFFFFF;

$block-fos-title-color: #000000;
$block-fos-description-color: #000000;

$total-auto-title-color: #000000;
$total-auto-item-border: #F4F4F4;
$total-auto-item-bg: #FDFDFD;
$total-auto-item-title-color: #000000;
$total-auto-item-fields-color: #000000;
$total-auto-item-excerpt-color: #000000;

$fos-input-color: rgba(0, 0, 0, 0.8);
$fos-input-placeholder: rgba(0, 0, 0, 0.8);
$fos-input-bg: rgba(255, 255, 255, 0.05);
$fos-input-border: rgba(0, 0, 0, 0.2);
$fos-signature-color: #777777;

$tegline-color: #000000;

$modal-bg: rgba(0, 0, 0, 0.5);
$modal-form-bg: #FFFFFF;
$modal-form-title-color: #000000;
$modal-form-description-color: #000000;

$block-bg-gradient: linear-gradient(0deg, rgba(128, 128, 128, 0) 0%, rgba(128, 128, 128, 0.2) 100%);